body {
    margin: 0 auto; /* Center horizontally */
    max-width: 375px; /* Limit the maximum width to resemble an iPhone */
    max-height: 700px;
    background-color: #f0f0f0; /* Optional: Add a background color */
    overflow-x: hidden; /* Optional: Hide horizontal overflow */
    border-radius: 50px; /* Optional: Add rounded corners */
    border: 12px solid #000;

}

.notch {
    position: absolute; /* Makes the header float at the top */
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    height: 28px; /* Adjust height as needed */
    width: 150px; /* Covers the entire width of the screen */
    border-bottom-left-radius: 20px; /* Optional: Add rounded corners */
    border-bottom-right-radius: 20px; /* Optional: Add rounded corners */
    z-index: 1000;
}

header {
    position: absolute; /* Makes the header float at the top */
    top: 50px;
    left: 0;
    right: 0;
    background-color: #5ba262;
    color: #ffffff;
    padding: 3px 0;
    text-align: center;
    max-width: 350px;
    margin-left: auto; /* Horizontally center the header */
    margin-right: auto; /* Horizontally center the header */
    font-size: 25px; /* Increase font size */
    font-family: 'Varela Round'; /* Add fantasy font */
    letter-spacing: 2px; /* Increase letter spacing */
    border-radius: 50px; /* Rounded corners for smoother edges */
    z-index: 999; /* Ensures the header is always on top */
}

#map-canvas {
    width: 375px; /* iPhone width */
    height: 700px; /* iPhone height */
    margin-top: 0px; /* Add space above the map */
    border-radius: 40px; /* Rounded corners for smoother edges */
    z-index: 100; /* Ensure the map is behind everything else */
}

#map-canvas img {
    width: 100%; /* Ensure the image takes up the entire width of the div */
    height: auto; /* Maintain aspect ratio */
    border-radius: 40px; /* Rounded corners for smoother edges */
}

.green-box-left {
    position: absolute;
    top: 662px; /* Adjust top position to be just above the white bar */
    left: calc(50% - 187.5px);
    height: 50px; /* Adjust height as needed */
    width: 100px; /* Adjust width as needed */
    background-color: #5ba262; /* Green color */
    border-bottom-left-radius: 38.5px; /* Rounded corners for smoother edges */
    border-top-right-radius: 50px; /* Rounded corners for smoother edges */
    z-index: 997; /* Ensure the green box is behind the white bar */
}


.bottom-bar {
    position: absolute; /* Makes the header float at the top */
    top: 692px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px; /* Adjust height as needed */
    width: 150px; /* Covers the entire width of the screen */
    border-radius: 50px; /* Rounded corners for smoother edges */
    background-color: #000000; /* White color */
    z-index: 998;
}

.green-box-bottom{
    position: absolute;
    top: 700px; /* Adjust top position to be just above the white bar */
    left: calc(50% + 20px);
    transform: translateX(-50%);
    height: 12px; /* Adjust height as needed */
    width: 250px; /* Adjust width as needed */
    background-color: #5ba262; /* Green color */
    z-index: 996; /* Ensure the green box is behind the white bar */
}


.green-box-right{
    position: absolute;
    top: 612px; /* Adjust top position to be just above the white bar */
    left: calc(50% + 137.5px);
    height: 100px; /* Adjust height as needed */
    width: 50px; /* Adjust width as needed */
    background-color: #5ba262; /* Green color */
    border-bottom-right-radius: 38.5px; /* Rounded corners for smoother edges */
    border-top-left-radius: 50px; /* Rounded corners for smoother edges */
    z-index: 994; /* Ensure the green box is behind the white bar */
}